* {
  margin: 0;
  padding: 0;
}
html,
body {
  /*background-color: rgb(95 150 215);*/
  background-color: #419bd3;
  height: auto;
  width: 100%;
  color: white;
}
input[type="radio"] + label {
  padding-left: 24px;
  background: url("img/radio_off.png") transparent no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 17px;
}
input[type="radio"]:checked + label {
  background: url("img/radio_on.png") transparent no-repeat;
  background-size: contain;
}
input[type="radio"]:checked + label + img {
  display: block !important;
}
input[type="radio"] {
  display: none;
}
#menuNav img {
  display: none;
  position: absolute;
  left: 37%;
  width: 100px;
}

#menuNav {
  margin-left: 10%;
}

#first {
  margin-top: -17px;
}

#second {
  margin-top: -35px;
}

#third {
  margin-top: -53px;
}

main img {
  margin-right: 20px;
}

h1 {
  color: inherit;
  font-weight: 100;
}

h2 {
  margin-bottom: 20px;
  color: inherit;
}

p {
  color: inherit;
}

label {
  color: white;
}

.title {
  border-radius: 5px;
  border: solid #d6d6d6 1px;
}

.section {
  margin-top: 35px;
  margin-bottom: 35px;
}

#listNav {
  margin-left: 10%;
}

input[type="checkbox"] + label {
  padding-left: 24px;
  background: url("img/checkbox_off.png") transparent no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 17px;
}
input[type="checkbox"]:checked + label {
  background: url("img/checkbox_on.png") transparent no-repeat;
  background-size: contain;
}
input[type="checkbox"] {
  display: none;
}

#textBlock p {
  float: left;
  width: 100px;
}
#textBlock label {
  clear: left;
}
#mainY {
  margin-left: 15px;
}
#mainText {
  border-radius: 5px;
  border: solid #d6d6d6 1px;
  height: 80px;
  width: 400px;
}

/* other styles */
.app {
  margin: 0 auto;
  padding: 20px;
}

.app__header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}

.app__header h1 {
  margin-bottom: 20px;
}

.header {
  display: flex;
}

.logo-wrap {
  max-width: 100px;
  width: 100%;
  padding-right: 30px;
}

.logo-wrap img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.header-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
}

.label {
  display: inline-block;
  max-width: 100px;
  width: 100%;
}

.main {
  display: grid;
  padding-top: 40px;
  padding-bottom: 40px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}
nav a {
  padding: 10px;
  margin-left: -10px;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  color: aquamarine;
}
.main.nav-vertical nav {
  grid-area: nav;
  padding-top: 0;
  flex-direction: column;
  align-items: flex-start;
}
.main.nav-left {
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "nav content";
  grid-gap: 10px;
}
.main.nav-right {
  grid-template-columns: 10fr 2fr;
  grid-template-areas: "content nav";
  grid-gap: 10px;
}

.swiper-custom-wrap {
  max-width: 300px;
  width: 100%;
  margin-left: 0;
}

.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.content p {
  margin-bottom: 30px;
}

.wrap-radio,
.radio-wrap-slider,
.input-wrap-photo {
  margin-bottom: 15px;
}

.input-wrap-photo label {
  display: inline-block;
  max-width: 150px;
  width: 100%;
  margin-right: 5px;
}

.constructor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

#submit,
#reset {
  padding: 10px;
  font-size: Aria;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 3px;
  cursor: pointer;
}
#submit:hover,
#reset:hover {
  border-color: mediumslateblue;
  background-color: #6bb800;
}
