* {
    margin: 0;
    padding: 0;
}
html,
body {
	/*background-color: rgb(95 150 215);*/
	background-color: #419BD3;
    height: auto;
    width: 100%;
}
input[type='radio'] + label {
    padding-left: 24px;
    background: url('img/radio_off.png') transparent no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 17px;
}
input[type='radio']:checked + label {
    background: url('img/radio_on.png') transparent no-repeat;
    background-size: contain;
}
input[type='radio']:checked + label + img {
    display: block !important;
}
input[type='radio'] {
    display: none;
}
#menuNav img {
    display: none;
    position: absolute;
    left: 37%;
    width: 100px;

}

#menuNav {
    margin-left: 10%;
}

#first {
    margin-top: -17px;
}

#second {
    margin-top: -35px;
}

#third {
    margin-top: -53px;
}

main img {
    float: left;
}

h1 {
    color: white;
    font-weight: 100;
}

h2 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

.title {
    border-radius: 5px;
    border: solid #d6d6d6 1px;
}

.section {
    margin-top: 35px;
}

#listNav {
    margin-left: 10%;
}

input[type='checkbox'] + label {
    padding-left: 24px;
    background: url('img/checkbox_off.png') transparent no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 17px;
}
input[type='checkbox']:checked + label {
    background: url('img/checkbox_on.png') transparent no-repeat;
    background-size: contain;
}
input[type='checkbox'] {
    display: none;
}

#textBlock p {
    float: left;
    width: 100px;
}
#textBlock label {
    clear:left;
}
#mainY {
    margin-left: 15px;
}
#mainText {
    border-radius: 5px;
    border: solid #d6d6d6 1px;
    height: 80px;
    width: 400px;
}

/* other styles */
.main {
  padding: 40px;
}

.main__container {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.input {
  padding: 10px;
}

.header {
  display: flex;
}


.logo-wrap {
  max-width: 100px;
  width: 100%;
  padding-right: 30px;
}

.logo-wrap img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.header-content h1 {
  font-size: 2em;
  margin-bottom: 20px;
}
